<div class="container card card-outline card-primary">
  <div class="card-header text-center">
      <a [routerLink]="['/']" class="h1">Devices Listing</a>
  </div>
  <div class="card-body">
    <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
          <tr>
              <th>Id</th>
              <th>Description</th>
              <th>Address</th>
              <th>Max High Energy Consumption</th>
              <th>Creation Date</th>
              <th *ngIf="isAdmin">Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of devices">
              <td>{{item?.id}}</td>
              <td>{{item?.description}}</td>
              <td>{{item?.address}}</td>
              <td>{{item?.maxHEC}}</td>
              <td>{{item?.creationDate}}</td>
              <td *ngIf="isAdmin">
                  <a class="btn btn-primary btn-sm" (click)="onEdit(item?.id)">Edit</a>|
                  <a class="btn btn-danger btn-sm" (click)="onDeleted(item?.id)">Delete</a>
              </td>
          </tr>
          </tbody>
          </table>
</div>
<!-- /.login-card-body -->
</div>

